:root {
    --default-radius: 0.5em;
    --font-size: 2vw;

    --main-color: #93F3F9;
    --focus-color: #93F3F9;
}

body {
    background: url("tm_background.png");
    font-size: var(--font-size);
}

.button {
    background: var(--main-color);
    border: none;
    border-radius: var(--default-radius);
    cursor: pointer;
    font-size: var(--font-size);
    text-align: center;
    margin: 0.5em;
    padding: 0.5em;
    width: 30vw;
}

input {
    box-shadow: 0 0 5px transparent;
    border: 1px solid gray;
    border-radius: var(--default-radius);
    font-size: var(--font-size);
    margin: 0.5em;
    padding: 0.5em;
    width: 90vw;
}

input:focus {
    box-shadow: 0 0 5px var(--focus-color);
    border: 1px solid var(--focus-color);
    outline: 0;
}